.hbanner{
	display: flex;
}
.hbanner .banner{
	/* width: 50%; */
	height: 580px;
	flex: 1;
	background-color: #fafafa;
	padding: 0;
}
.hbanner .banner h1{
	color: #111;
	font-size: 40px;
	line-height: 1.1;
	font-weight: 600;
	letter-spacing: 0em;
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin-top: 52px;
}
.hbanner .banner h2{
	color: #111;
	line-height: 1.2381;
	font-weight: 400;
	letter-spacing: .016em;
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin-top: 4px;
}
.hbanner .banner .link a{
	color: #0070c9;
	font-size: 17px;
	line-height: 1.23543;
	font-weight: 400;
	letter-spacing: -.022em;
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	
}
.hbanner .banner:nth-child(1){
	margin: 10px 5px 10px 10px;
	background-image: url(../img/tile__cauwwcyyn9hy_medium.jpg);
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.hbanner .banner:nth-child(2){
	margin: 10px 10px 10px 5px;
	background-image: url(../img/tile__cauwwcyyn9hy_medium%201.jpg);
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
}
/* 媒体查询,设定不同屏幕下banner和hbanner的样式 */
@media only screen and (max-width:1100px) {
	.banner{
		height: 595px;
	}
}
@media only screen and (max-width:740px) {
	.banner{
		height: 445px;
		background-image: url(../img/hero__dvsxv8smkkgi_small.jpg);
		background-size: 80%;
	}
	.hbanner{
		/* display: block; */
		height: 1020px;
		flex-direction: column;
	}
	.banner .banner:nth-child(1){
		width: calc(100%-20px);
		margin: 10px;
	}
	.banner .banner:nth-child(2){
		width: calc(100%-20px);
		margin: 10px;
	}
}

