/* 初始化样式 */
*{
	padding: 0;
	margin: 0;
}
.nav{
	width: 100%;
	height: 44px;
	/* rgba代表红色绿色蓝色透明度 */
	background: rgba(0,0,0,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav a{
	color: #d3d3d3;
	text-decoration: none;
	width: 102px;
	text-align: center;
	font-size: 13px;
}
.nav .logo{
	background-image: url(../img/globalnav_apple_image__cxwwnrj0urau_large.svg);
	height: 44px;
	background-repeat: no-repeat;
	background-position: center;
}
.nav .search{
	height: 44px;
	background-image: url(../img/iconfinder_icon-search_2867938.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.nav .buy{
	background-image: url(../img/globalnav_bag_image__bmix8075eg4i_large.svg);
	height: 44px;
	background-repeat: no-repeat;
	background-position: center;
}
.toggleBtn{
	height: 44px;
	display: none;
	flex-direction:column ;
	justify-content: center;
	align-items: center;
	position: relative;
}
.toggleBtn .line{
	height: 1px;
	width: 18px;
	margin: 6px;
	background-color: white;
	display: none;
	transition: all 0.3s;
	/* 设置旋转中心点 */
	transform-origin:center ;
}
.toggleBtn .line:nth-child(1){
	position: absolute;
	left: calc(50%-9px);
	top: 12px;
}
.toggleBtn .line:nth-child(2){
	position: absolute;
	left: calc(50%-9px);
	top: 20px;
}
.navPage{
	display: flex;
	width: 100vw;
	height: 0vh;
	transition: all 0.4s;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
}
.navPage .navMain{
	width: 100%;
}
/* 设定屏幕快读小于768时的样式 */
@media only screen and (max-width:768px) {
	.toggleBtn{
		display: flex;
		z-index: 1000;
		position: relative;
	}
	.toggleBtn .line{
		display: block;
	}
	.nav .text,.nav .search{
		display: none;
	}
	.nav{
		justify-content: space-between;
	}
	.nav a,.nav label{
		width: 50px;
	}
	.nav .logo{
		order: 2;
		z-index: 1000;
		position: relative;
	}
	.nav .buy{
		order: 3;
	}
	.nav .toggleBtn{
		order: 1;
	}
	#choose:checked~.toggleBtn .line:nth-child(1){
		transform: translateY(4px) rotate(45deg);
	}
	#choose:checked~.toggleBtn .line:nth-child(2){
		transform: translateY(-4px) rotate(-45deg);
	}
	/* 设定复选框为选中状态时。导航页面显示 */
	#choose:checked~.navPage{
		display: flex;
		/* 
		 vw:viewport视窗的宽度100vw=100%视窗宽度
		 vh:viewport视窗的高度100vh=100%视窗高度
		 */
		width: 100vw;
		height: 100vh;
		background: #000;
		position: fixed;
		left: 0;
		top: 0;
		color: #fff;
		flex-direction: column;
		padding-top: 44px;
	}
	.searchInput{
		margin: 0 28px 20px 28px;
		height: 36px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-radius: 4px;
		color: #939393;
		background-color: rgba(45,45,45,0.98);
	}
	.searchInput .icon{
		width: 32px;
		height: 36px;
		background-image: url(../img/iconfinder_icon-search_2867938.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	.searchInput input{
		flex: 1;
		margin: 0 10px;
		height: 100%;
		/* 透明也可以none */
		background:transparent;
		border: none;
		outline: none;
		color: white;
	}
	.navList{
		margin: 0 28px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.navList a{
		width: 100%;
		height: 44px;
		color: white;
		text-align: left;
		border-bottom: 1px solid #333;
		line-height: 38px;
	}
	.navList a:last-child{
		border-bottom: none;
	}
}